html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div,
dl, dt, dd {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style : none;
}

img {
    border: 0;
    vertical-align: middle;
}

p {
    line-height: 1.5;
}

*, *:before, *:after {
    word-break: break-all;
    box-sizing: border-box;
}

address {
    font-style : normal;
}